.search {
    width: 90%;
    height: 50px;

    border: 2px solid salmon;
    border-radius: 10px;
     
    text-align: start;
    text-indent: 10px;
}

.search::placeholder {
    font-family: inherit;
    font-size: 16px;
}